body {
    font: $font-size $body-font;
    line-height: 1.4;
    color: $primary-colour;
    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased; 
}

a {
    color: $primary-colour;
    outline: none;
    text-decoration: none;
  
    &:focus, &:hover, &:active {
      color: $secondary-colour;
    }
}

code {
    font-size: 80%;
    font-family: $mono-font;
    background: $secondary-colour;
    padding: .3em;
    white-space: nowrap;
}

pre {
    code {
        display: block;
        white-space: pre
    }
}