/* Desktop screens */
.container {
    width: 80%;
}

/* Tablet screens */
@media screen and (min-width: $tablet) and (max-width: $desktop) {
    .container {
        width: 90%;
    }
}

/* Mobile screens */
@media screen and (max-width: $tablet) {
    .container {
        width: 100%;
        margin: 0 auto;
    } 
}

/* Full width/fluid class */
.fluid {
    width: 100%;
}