.left {
    text-align: left;
}

.right {
    text-align: left;
}

@mixin margin($margin) {
    @for $i from 1 through $margin {
        .mt-#{$i} {
            margin-top: #{$i}em
        }

        .mb-#{$i} {
            margin-bottom: #{$i}em
        }

        .ml-#{$i} {
            margin-left: #{$i}em
        }

        .mr-#{$i} {
            margin-bottom: #{$i}em
        }

        .m-#{$i} {
            margin: #{$i}em
        }
    }
}

/* Desktop screens */
@include margin(12);