.input-group {
    margin: 1em 0;
}

.input-wrapper {
    position: relative;
    width: 300px;
    height: 100%;
    overflow: hidden;
}

.label {
    position: absolute;
    top: 0.25em;
    left: 0;
    width: 100%;
    font-weight: bold;
    font-size: 0.75em;
}

.input, .textarea, .select {
    padding: 1em 0 0.25em;
    font-size: 1em;
    line-height: 1.5em;
    height: 2em;
    width: 100%;
    border: none;
    background: transparent;

    &:focus {
        outline: none;
    }

    &:focus ~ .input-line::after {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.input-line {
    &::after, 
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 2px solid #222;
    }

    &::after {
        margin-top: 1px;
        border-bottom: 4px solid #51AFC1;
        -webkit-transform: translate3d(-100%, 0, 0);
	    transform: translate3d(-100%, 0, 0);
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }
}

.textarea {
    line-height: 1.5em;
    height: 100%;
    resize: none;

    & ~ .label {
        top: 0em;
    }
}

.select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 0.5em 0;
    -moz-padding-end: 0.5em 0;
    -webkit-padding-start: 1em 0;
    -moz-padding-start: 1em 0;
    font-size: 1em;
    height: 52px;
    width: 100%;

    & ~ .label {
        font-size: 0;
        height: 100%;
        width: 100%;
        overflow: visible;
        pointer-events: none;

        &::after {
            content: "";
            position: absolute;
            font-size: 0.75em;
            right: 0;
            top: 60%;
            transform: translateY(-50%);
            width: 0; 
            height: 0; 
            z-index: -1;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #222;
        }
    }

    &[multiple] {
        height: 100%;
        overflow: scroll;

        & ~ .label {
            display: none;
        }

        &:focus option:checked {
            background: #51AFC1 linear-gradient(0deg, #51AFC1 0%, #51AFC1 100%);
        }
    }
}

.input-helper {
    padding: 0.25em 0;
    margin: 0.25em 0;
    font-size: 0.8em;
}
