// Global styles
$font-size: 115%; 
$body-font: -apple-system, BlinkMacSystemFont, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
$mono-font: 'Lab Mono', 'roboto mono', Consolas, monaco, monospace;

// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

// Colours
$primary-colour: #222;
$secondary-colour: #fafafa;